.conversation-message.system {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.message-bubble.loading {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  background-color: #f0f2f5;
  border-radius: 12px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #90a4ae;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* Loading spinner */
.loading-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
  margin-right: 8px;
}

.loading-primary {
  /* border: 2px solid #2923234d; */
  border-top-color: var(--primary);
}

.blueLoader {
  width: 46px;
  height: 46px;
  border: 2px solid rgb(33 55 176 / 30%);
  border-top-color: #312d2d;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
