.circular-loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.loader-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #1a237e;
  animation: spin 1s infinite linear;
}

.loading-primary .loader-circle {
  border-top-color: #1a237e;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
